body {
    background-color: #f5f5f5;
    color: #a1a1a1;
}

.container {
    max-width: 992px;
    margin: 0 auto;
    height: 100%;
}

.preview {
    width: 68%;
    padding-top: 104px;
    padding-left: 11.5%;
    padding-right: 11.5%px; 
    background-color: #ffffff;
    margin: 0px auto;
    border-radius: 48px;
}

.preview img {
    width: 85.5%;
}

.photo {
    display: flex;
    justify-content: space-around;
}

.context-row {
    display: flex;
    margin: 32px auto;
    justify-content: space-between;
}

.solution-card {
    width: 90%;
    padding: 112px 11.5%;
    background-color: #1e1e1e;
    border-radius: 40px;
}

.quote-card {
    width: fit-content;
    padding: 84px 92px;
    border-radius: 40px;
}

.quote-card.lmx {
    background: linear-gradient(
        180deg, 
        #00B5FF 0%, 
        #7BD6FF 100%
        );
}

.quote-card.omviser {
    background: linear-gradient(
        180deg, 
        #4D4BDC 0%, 
        #7675EF 100%
        );
}

.quote-card.twitter {
    background: linear-gradient(
        180deg,
        #69A2E4 0%,
        #4078DD 100%
    );
}

.quote-card.sephora {
    background: linear-gradient(
        180deg,
        #EB271C 0%, 
        #FF594E 100%
    );
}

.quote-card.twitter {
    background: linear-gradient(
        180deg,
        #69A2E4 0%,
        #4078DD 100%
    );
}

.two-columns {
    max-width: 95%; 
    display: flex;
    justify-content: space-between;
    margin: 104px 0 104px 5%;
}

.two-columns img {
    max-width: 100%;
}

.column-text {
    max-width: 34%;
    margin-top: 64px;
}
  
.column-text h2, .phrase-card h2 {
    font-size: 80px;
    margin-top: 32px;
}
  
.column-text h6 {
    margin-top: 32px;
    line-height: 110%;
}

.phrase-card {
    max-width: 90%;
    margin: 64px 5% 0 5%;
    border-radius: 48px;
    padding: 180px 188px 164px 192px;
    background-color: #ffffff;
}


/* Twitter Page */ 
.insights, .decisions {
    display:flex; 
    justify-content: space-between;
}

.exploration img {
    max-width: 288px;
    margin-left: -24px;
}

.exploration h6 {
    max-width: 312px;
}

.screen-card {
    max-width: 90%;
    margin: 64px auto;
    padding: 48px 40px;
    border-radius: 48px;
    background-color: #ffffff;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
}

.blue {
    background-color: #007AFF;
}

.red {
    background-color: #FF3B30;
}

.top {
    display: flex;
    justify-content: space-between; 
}

.screen-card img {
    max-width: 100%;
}

.fa-chevron-left, .fa-chevron-right {
    width: 24px;
    margin-top: 276px;
    color: #1E1E1E;
}

.inactive {
    color: #f5f5f5;
}

/* omviser Page */
.f-title {
    margin: -8px 0 32px 32px;
}

.screen-card.omviser img {
    max-width: 76%;
    margin-left: 14%;
    margin-bottom: 32px;
}

.grape {
    background-color: #5E5CE6;
}


/* Cornell Creatives Page */
.f-layout {
    display: flex;
    margin: 64px 5% 0 5%;
    justify-content: space-between;
}

.filter {
    max-width: 62%;
    border-radius: 48px;
    background-color: #ffffff;
}

.filter img {
    max-width: 100%;
    border-radius: 0 0 48px 0;
}

.filter h4 {
    margin: 48px 0 58px 10%;
}

.filters {
    max-width: 34%;
    border-radius: 48px;
    background-color: #ffffff;
}

.filters img {
    max-width: 72%;
    margin-left: 14%;
}

.filters h4 {
    margin: 48px 0 88px 16%;
}

a {
    text-decoration: none;
}

.header {
    margin: -104px 0 104px -7.5%;
}

/* Footer */
.footer {
    margin-top: 100px;
    padding-top: 50px;
    background-color: #e6e6e6;
}
 
.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}
  
.footer-container-bottom {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}
  
.footer-links a {
    margin: 0 16px;
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 500;
}
  
.footer-social-links a {
    font-size: 22px;
    color: #a1a1a1;
    margin: 0 11px;
}
  
.column-iterations {
    display: flex;
    justify-content: center;
}

/* MOBILE STYLES */
/* @media (max-width: 600px) {
  
} */
  
/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
}

body {
    line-height: 1;
}

/*ol, ul {
    list-style: none;
} */

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
  
