.m-178 {
    margin-top: 178px;
}

.m-104 {
    margin-top: 104px;
}

.m-84 {
    margin-top: 84px;
}

.m-64 {
    margin-top: 64px;
}

.m-40 {
    margin-top: 40px;
}

.m-28 {
    margin-top: 28px;
}

.m-20 {
    margin-top: 20px;
}

.m-8 {
    margin-top: 8px;
}

.mtb-200 {
    margin-bottom: 200px;
}

.mtb-104 {
    margin-bottom: 64px;
}

.mtb-32 {
    margin-bottom: 32px;
}

.ml-10 {
    padding-left: 25%;
}

.w-1440 {
    max-width: 100%;
}

.w-1296 {
    max-width: 90%;
    margin-top: 64px;
    margin-left: 5%;
}

.w-992 {
    max-width: 69%;
}

.w-538 {
    max-width: 54%;
}

.w-408 {
    max-width: 41.4%;
}

.w-582 {
    max-width: 582px; 
}

.w-298 {
    max-width: 298px;
}

.w-24 {
    width: 24px;
}