.m-244 {
    margin-top: 244px;
}

.m-204 {
    margin-top: 204px;
}

.m-154 {
    margin-top: 154px;
}

.m-144 {
    margin-top: 144px;
}

.m-104 {
    margin-top: 104px;
}

.m-84 {
    margin-top: 84px;
}

.m-64 {
    margin-top: 64px;
}

.m-52 {
    margin-top: 52px;
}

.m-40 {
    margin-top: 40px;
}

.m-32 {
    margin-top: 32px;
}

.m-28 {
    margin-top: 28px;
}

.m-20 {
    margin-top: 20px;
}

.m-12 {
    margin-top: 12px;
}

.m-8 {
    margin-top: 8px;
}

.m-6 {
    margin-top: 6px;
}

.m-4 {
    margin-top: 4px;
}

.m-0 {
    margin-top: 0px;
}

.mtb-200 {
    margin-bottom: 200px;
}

.mtb-104 {
    margin-bottom: 64px;
}

.mtb-32 {
    margin-bottom: 32px;
}

.ml-24 {
    margin-left: 88px;
}

.ml-10 {
    padding-left: 25%;
}

.w-1440 {
    max-width: 100%;
}

.w-1232 {
    max-width: 1232px;
    margin: 0 auto;
}

.w-1296 {
    max-width: 90%;
    margin-top: 64px;
    justify-content: space-around;
}

.w-992 {
    max-width: 69%;
}

.w-990 {
    max-width: 68%;
    margin-top: 32px;
}

.w-688 {
    max-width: 688px;
}

.w-538 {
    max-width: 54%;
}

.w-492 {
    max-width: 492px;
}

.w-408 {
    max-width: 41.4%;
}

.w-588 {
    max-width: 588px;
}

.w-582 {
    max-width: 582px; 
}

.w-398 {
    max-width: 398px;
}

.w-298 {
    max-width: 298px;
}

.w-24 {
    width: 24px;
}

.p-32 {
    padding: 18px 64px;
}