/* San Francisco Font from Apple */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/* Set font for all pages to SF */
body {
  font-family: "San Francisco", sans-serif;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 80px;
  font-weight: bolder;
  letter-spacing: -4.8px;
}

h2 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 48px; 
  font-weight: bold; 
}

h4 {
  font-size: 32px
}

h5 {
  font-size: 26px;
  font-weight: normal;
}

h6 {
  font-size: 24px; 
  font-weight: 700;
  line-height: 116%;
  letter-spacing: 1px;
  margin-bottom: 18px;
}


p { 
  font-size: 18px;
  line-height: 130%;
}

.m-126 {
  margin-top: 126px;
}

.m-28 {
  margin-top: 28px;
}

.m-24 {
  margin-top: 24px;
}

.m-12 {
  margin-top: 12px;
}

.m-104 {
  margin-bottom: 104px;
}

.gray {
  color: #414141;
}

.grey {
  color: #6e6e6e
}
.footer > .container > hr {
  height: 1px;
  border: none;
  background-color: #a1a1a1;
}

.footer-title {
  font-weight: 600;
  font-size: 24px;
}

.footer-subtitle {
  color: #a1a1a1;
  font-size: 18;
}

.footer-subtitle a {
  color: #a1a1a1;
}

/* MOBILE STYLES */
@media (max-width: 600px) {
}
