body {
    background-color: rgb(23,31,35);
    margin: 0px;
}

h1 {
    font-family: sans-serif;
    font-size: 64px;
    margin: 0px;
    color: white;
}

h2 {
    font-family: sans-serif;
    font-size: 48px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: rgb(238,238,238);
}

h2.extra {
    padding-bottom: 50px;
}

section.twitter h2 {
    color: rgb(29,161, 242);
    margin: 0px;
}

section.sephora h2 {
    color: rgb(234,178,156);
    margin: 0px;
}

article.bubbles h2 {
    color: rgb(246,233,159);
}

h3 {
    font-family:sans-serif;
    font-size: 36px;
    margin: 0px;
    color: rgb(238,238,238);
}

section.twitter h3.sh, section.sephora h3.sh {
    padding-top: 0px;
    padding-bottom: 15px;
}

section.twitter h3 {
    color: rgb(29,161, 242);
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 10px;
}

section.sephora h3 {
    color: rgb(234,178,156);
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 10px;
}

h4 {
    font-family:sans-serif;
    font-size: 24px;
    margin: 0px;
    color: rgb(238,238,238);
}

section.sephora h4, section.twitter h4, section.cc h4, section.omviser h4 {
    color: rgb(238,238,238);
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
}

p, li {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    margin: 0px;
    padding-top: 10px;
    color: rgb(238,238,238);
}

blockquote {
    font-family: sans-serif;
    font-size: 18px;
    color:rgb(238,238,238);
}

a:link {
    text-decoration: none;
}

footer a:link {
    color: rgb(238, 238, 238);
    text-decoration: underline;
}

header a{
    font-family:sans-serif;
    font-size: 24px;
    margin: 0px 10px;
    color: rgb(27,31,35);
}

a:hover, a.on {
    color: rgb(238, 238, 238);
}

header li {
    display: inline;
}

.nav h3 {
    color: rgb(27,31,35);
}

footer h3 {
    padding-top:50px;
    color: rgb(238,238,238);
    padding-top: 46.5px;
    padding-left: 80px;
}

footer h4 {
    padding-top: 10px;
    color: rgb(238,238,238);
    padding-left: 80px;
    padding-bottom: 15px;
}

footer hr, article hr {
    width: 1280px;
    margin: 0 auto;
}

div.caserow1 {
    padding-top: 95px;
}

div.caserow2, .caserow4 {
    padding-top:60px;
    padding-bottom: 73.5px;
}

div.caserow3 {
    padding-top: 95px;
    padding-bottom:73.5px;
}

.navigation h3 {
    padding-top: 34px;
}

.navigation ul {
    padding-top: 21px;
}

.intro h1, .intro h2 {
    margin: 0px;
    padding-top: 10px;
    padding-left: 80px;
}
.intro h2 {
    padding-bottom: 85px;
    color: rgb(27, 31, 35);
}

.intro h3 {
    padding-top: 100px;
    padding-left: 80px;
    color: rgb(27, 31, 35);
}

.boxindex {
    background-image: url("../images/hometopback.png");
    width: 1440px;
}

.boxsephora {
    background-image: url("../images/sephora-intro.png");
    background-size: 1440px;
    width: 1440px;
    height: 548px;
}

.boxtwitter {
    background-image: url("../images/twitter-intro.png");
    background-size: 1440px;
    width: 1440px;
    height: 548px;
}

.boxbubbles {
    background-image: url("../images/bubbles-intro.png");
    background-size: 1440px;
    width:1440px;
    height:548px;
}

.boxextra {
    background-image: url("../images/extratopback.png");
    width: 1440px;
    height:288px
}

.boxcc {
    background-image: url("../images/cc-intro.png");
    background-size: 1440px;
    width: 1440px;
    height:548px;
}

.boxomviser {
    background-image: url("../images/omviser-intro.png");
    background-size: 1440px;
    width: 1440px;
    height:548px;
}

.boxaboutme {
    background-image: url("../images/aboutme-topback.png");
    background-size: 1440px;
    width: 1440px;
    height: 102px;
}

.boxbencheri {
    background-image: url("../images/bencheri-intro.png");
    background-size: 1440px;
    width: 1440px;
    height:548px;
}

div {
    display: flex;
    flex-direction: row;
    width: 1280px;
    justify-content: space-between;
    margin: 0 auto;
}

.casestudy{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}

.about {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: space-between;
    margin: 0px;
}

.overview p, .overview h4 {
    width: 700px;
    padding-left: 80px;
}

.sideprojects p {
    width: 1280px;
    padding-left: 80px;
}

.overview {
    padding-top: 65px;
}

p.first {
    padding-bottom: 73.5px;
}

h4.first {
    padding-top: 165px;
}

img {
    padding: 20px 0px;
}

.casestudy img {
    width: 800px;
}

.visual img {
    width: 900px;
}

.aboutme img {
    width: 505px;
    height: 505px;
}

header {
    width: 100%;
}
